<?xml version='1.0' encoding='utf-8'?>
<widget id="de.dustplanet.lottie" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LottieDemo</name>
    <description>A sample Apache Cordova application to showcase the cordova-plugin-lottie-splashscreen-plugin</description>
    <author email="github@timbrust.de">timbru31</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Lottie specific config -->
    <preference name="LottieRemoteEnabled" value="true" />
    <preference name="LottieLoopAnimation" value="true" />

    <platform name="android">
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="GradlePluginKotlinVersion" value="1.7.22" />
        <preference name="AndroidXEnabled" value="true" />
        <!-- Lottie specific config -->
        <preference name="LottieAnimationLocationLight" value="https://assets.lottiefiles.com/datafiles/PEt3QhOjDXHDIGH/data.json" />
        <preference name="LottieAnimationLocationDark" value="https://assets1.lottiefiles.com/packages/lf20_iebai3g6.json" />
        <preference name="LottieBackgroundColor" value="#fff000a3" />
        <preference name="LottieEnableHardwareAcceleration" value="true" />
        <preference name="LottieWidth" value="350" />
        <preference name="LottieHeight" value="350" />
        <preference name="LottieCacheDisabled" value="true" />

        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <!-- Lottie specific config -->
        <!-- <preference name="LottieAnimationLocation" value="https://assets.lottiefiles.com/datafiles/40aX5db74VvGPWw/data.json" /> -->
        <!-- Alternatively -->
        <preference name="LottieRemoteEnabled" value="false" />
        <preference name="LottieAnimationLocation" value="www/lottie/data.json" />
        <preference name="LottieCancelOnTap" value="true" />
        <preference name="LottieFullScreen" value="true" />
        <preference name="LottieHideTimeout" value="0" />
        <preference name="SwiftVersion" value="5" />
        <preference name="LottieCacheDisabled" value="true" />

        <preference name="BackupWebStorage" value="none" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
