# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.yml]
indent_size = 2

[package.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{kt,kts}]
ktlint_standard_import-ordering = disabled
