.DS_Store
node_modules/
example/
.editorconfig
.prettierignore
.prettierrc
.swiftlint.yml
.travis.yml
CHANGELOG.md
FAQ.md
tsconfig.json
tslint.json
.vscode/
scripts/patch-plugin-xml-version.js
www/lottie-splashscreen.ts
.github/
yarn-error.log
.huskyrc
.lintstagedrc
commitlint.config.js
.versionrc.json
