name: Linting

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.0.0

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 18

      - name: Environment Information
        run: |
          node --version
          npm --version

      - name: Setup
        run: |
          brew install ktlint
          swiftlint version
          npm ci

      - name: Linting
        run: npm run lint

  auto-merge:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Automatically merge dependabot upgrades
        uses: fastify/github-action-merge-dependabot@v3.9.1
        with:
          target: minor
