name: npm audit fix

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ybiquitous/npm-audit-fix-action@v6.1.3
