name: Smoke test on Ubuntu

on: [push, pull_request]

jobs:
  build:
    name: Ionic CLI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 1.8

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Environment Information
        run: |
          node --version
          npm --version
          java -version

      - name: Setup Project
        run: |
          npm i -g cordova @ionic/cli
          ionic start lottie-smoke-test tabs --type angular --no-interactive --no-confirm
          cd lottie-smoke-test
          ionic cordova platform add android --no-interactive --confirm

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          ionic cordova plugin add cordova-plugin-androidx --no-interactive --confirm
          ionic cordova plugin add cordova-plugin-androidx-adapter --no-interactive --confirm
          ionic cordova plugin add $GITHUB_WORKSPACE --no-interactive --confirm -- --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          # Workaround https://github.com/ionic-team/ionic-cli/issues/4614 
          npm i -D @angular-devkit/build-angular@latest @ionic/angular-toolkit@latest
          ionic cordova build android --no-interactive --confirm
