name: Smoke test on Ubuntu (Apache Cordova)

on:
  push:
    branches:
      - master
  pull_request:

env:
  HUSKY: 0

jobs:
  build:
    name: Apache Cordova CLI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - name: set up JDK 11
        uses: actions/setup-java@v4.7.1
        with:
          distribution: "temurin"
          java-version: 11

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 18

      - name: Environment Information
        run: |
          node --version
          npm --version
          java -version

      - name: Setup Project
        run: |
          npm i -g cordova
          cordova create lottie-smoke-test
          cd lottie-smoke-test
          cordova platform add android@11
          sed -i '4i\    <preference name="GradlePluginKotlinEnabled" value="true" />' config.xml
          sed -i '4i\    <preference name="GradlePluginKotlinVersion" value="1.7.22" />' config.xml

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          cordova plugin add $GITHUB_WORKSPACE --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          cordova build android
