name: Smoke test on macOS

on:
  push:
    branches:
      - master
  pull_request:

env:
  HUSKY: 0

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode: [14, 15]

    steps:
      - uses: actions/checkout@v5.0.1

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 18

      - name: set up JDK 11
        uses: actions/setup-java@v4.7.1
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Environment Information
        run: |
          node --version
          npm --version
          java --version

      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: Setup
        run: |
          brew install gnu-sed

      - name: Setup Project
        run: |
          npm i -g cordova
          cordova create lottie-smoke-test
          cd lottie-smoke-test
          cordova platform add ios@latest
          gsed -i '4i\    <preference name="SwiftVersion" value="5" />' config.xml
          cordova platform add android@12
          gsed -i '4i\    <preference name="GradlePluginKotlinEnabled" value="true" />' config.xml
          gsed -i '4i\    <preference name="GradlePluginKotlinVersion" value="1.7.22" />' config.xml

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          cordova plugin add $GITHUB_WORKSPACE --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          cordova build android
          cordova build ios
