name: Smoke test on Ubuntu (Ionic)

on:
  push:
    branches:
      - master
  pull_request:

env:
  HUSKY: 0

jobs:
  build:
    name: Ionic CLI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1

      - name: Setup JDK 11
        uses: actions/setup-java@v4.7.1
        with:
          distribution: "temurin"
          java-version: 11

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 18

      - name: Environment Information
        run: |
          node --version
          npm --version
          java -version

      - name: Setup Project
        run: |
          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "build-tools;30.0.3"
          npm i -g cordova @ionic/cli
          ionic start lottie-smoke-test tabs --cordova --type angular --no-interactive --no-confirm
          cd lottie-smoke-test
          npx ng add @ionic/cordova-builders --skip-confirmation
          ionic cordova platform add android@10 --no-interactive --confirm
          sed -i '4i\    <preference name="GradlePluginKotlinVersion" value="1.7.22" />' config.xml
          sed -i '4i\    <preference name="GradlePluginKotlinEnabled" value="true" />' config.xml

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          ionic cordova plugin add cordova-plugin-androidx-adapter --no-interactive --confirm
          ionic cordova plugin add $GITHUB_WORKSPACE --no-interactive --confirm -- --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          ionic cordova build android --no-interactive --confirm
