name: Smoke test on Windows

on:
  push:
    branches:
      - master
  pull_request:

env:
  HUSKY: 0

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4.1.6

      - name: Setup JDK 11
        uses: actions/setup-java@v4.2.1
        with:
          distribution: "temurin"
          java-version: 11

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 18

      - name: Environment Information
        run: |
          node --version
          npm --version
          java -version

      - name: Setup Project
        run: |
          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "build-tools;30.0.3"
          npm i -g cordova
          cordova create lottie-smoke-test
          cd lottie-smoke-test
          cordova platform add android@10

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          cordova plugin add $env:GITHUB_WORKSPACE --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          cordova build android
