name: Smoke test on Windows

on:
  push:
    branches:
      - master
  pull_request:

env:
  HUSKY: 0

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4.0.0

      - name: set up JDK 11
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: 11

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 18

      - name: Environment Information
        run: |
          node --version
          npm --version
          java -version

      - name: Setup Project
        run: |
          npm i -g cordova
          cordova create lottie-smoke-test
          cd lottie-smoke-test
          cordova platform add android@10

      - name: Install Plugins
        run: |
          cd lottie-smoke-test
          cordova plugin add $env:GITHUB_WORKSPACE --link

      - name: Build Project
        run: |
          cd lottie-smoke-test
          cordova build android
